@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Wallet MultiButton styles */
button.wallet-adapter-button-trigger {
  background: white !important;
  color: rgb(1, 168, 93);
  border-radius: 20px;
  transition: all 0.3s ease;
  border-radius: 50px;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.61);
}

button.wallet-adapter-button-trigger:hover {
  background: #10b981 !important;
  /* background: white; */
  color: white;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); */
}
